html {
  scroll-behavior: smooth;
}

nav {
  background-color: #7d9bc3;
}

footer {
  background-color: #7d9bc3;
}

h2 {
  color: #7d9bc3;
}

.btn-send button {
  background-color: #7d9bc3;
  border-color: #ffff;
}

.jumbotron {
  padding-top: 6rem;
  /* background-color: #d3ebcd; */
  margin-bottom: 1rem;
  background-image: url("./picture/6221846.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

#about,
#contacts {
  background-color: #e2edff;
}

#projects {
  background-color: #ffff;
}

section {
  padding-top: 5rem;
}
